body {
    background-color: #efefef;
    font-family: 'Open Sans';
}
.container-fluid {
    background-color: antiquewhite;
   
}

.jumbotron-fluid {
    background: antiquewhite;
}
.btn-default {
    color: white;
}